Create table [plan](
id_plan int
		NOT NULL primary key,
descripcion nvarchar(255)
)
select * from [plan]


Insert into [plan](id_plan,descripcion) values 
			(210,'PLAN 210'),
			(310,'PLAN 310'),
			(410,'PLAN 410'),
			(510,'PLAN 510');

Create table Practicas(
Codigo int
		NOT NULL primary key,
Practica nvarchar(255)
)


Create table Prestadores(
id_prestador int
		NOT NULL primary key,
ApellidoYNombre nvarchar(255),
Filial nvarchar(255),
Especialidad nvarchar(255),
Domicilio nvarchar(255),
Localidad nvarchar(255),
Telefono nvarchar(255)
)

Select * from PRESTADORES

