<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<beans:bean id="adminAction" class="com.grupo3.action.AdminAction">
		<beans:property name="patientService" ref="patientService" />

	</beans:bean>

	<beans:bean id="userAction" class="com.grupo3.action.UserAction">
		<beans:property name="patientService" ref="patientService" />
		<beans:property name="planDAO" ref="planDAO" />
	</beans:bean>

	<beans:bean id="turnoAction" class="com.grupo3.action.TurnoAction">
		<beans:property name="turnoService" ref="turnoService" />
	</beans:bean>

	<beans:bean id="afiliadoAction" class="com.grupo3.action.AfiliadoAction">
		<beans:property name="afiliadoService" ref="afiliadoService" />
		
	</beans:bean>




</beans:beans> 