 content{
margin-left:10%;
width: 80%;
  /*  border-radius: 25px;*/
border-color: black;
border: 0.2vw solid;
float:left  
}

contentTable{
	margin-top: 2%;
width: 90%;
height: 100%;
float: left;
	margin-bottom: 2%;
	

}

contentIcon{

margin-top: 92px;
width: 10%;
height: 10px;
float: left;
background-color: pink;
}
li:hover{
	background-color: lightgrey;
}
loginUser{
    float:right;
	position:fixed;
	  clear:right;
}
